:root {
    --text: #050a0b;
    --background: #f4f9fa;
    --primary: #51a1ae;
    --secondary: #b89ed2;
    --accent: #c17fc3;
}

* {
    padding: 0;
    margin: 0;
}

*, *::before, *::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
    display: block;
}

body {
    font-family: 'Helvetica', sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.4;
}

.nav-bar{
    display: flex;
    position: fixed;
    width: 100vw;
    height: 6.9vh;
    top: 0;
    left: 0;
    align-content: center;
    background-color: var(--background);
    z-index: 999;
    border-bottom: 1px solid var(--text);
    padding-bottom: 0.3rem;
}

.logo{
    height: 4.9vh;
    align-self: center;
    margin-left: 2.2rem;
    margin-top: 1.5rem;
}

.links{
    display: inline-block;
    position: absolute;
    right: 0;
    margin: 0.5rem;
    padding: 1rem;
    align-self: center;
}

.nav-elem{
    text-decoration: none;
    list-style-type: none;
    color: var(--text);
    font-size: 2rem;
    margin: 0 2.2rem;
    padding: 0 1rem;
}

.nac-elem h1{
    font-weight: 100;
    font-style: italic;
    font-size: 4.2rem;
    text-align: center;
    padding-left: 10em;
}

.nav-elem:hover{
    color: var(--accent);
}

.logo {
    height: 4.9vh;
    align-self: center;
}

.content{
    display: block;
    position: static;
    top: 6.9vh;
    width: 100%;
    background-color: var(--background);
}

#front-page{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    color: #222E50;
}

.fp-large{
    font-weight: 100;
    font-style: italic;
    font-size: 4.2rem;
    text-align: center;
}

.fp-small{
    font-weight: 100;
    font-style: italic;
    font-size: 2.2rem;
    text-align: center;
}

#about-me{
    width: 90%;
    border-radius: 2.2rem;
    background-color: var(--primary);
    color: var(--text);
    margin: auto;
}

.about-img{
    width: 50%;
    display: inline-block;
    text-align: center;
    padding: 2.2rem 0;
}

.about-img img{
    width: 80%;
    border-radius: 19%;
    position: relative;
}

.about-header{
    font-style: italic;
    text-align: center;
    padding: 1.5rem;
}

.about-content{
    display: flex;
}

.about-container{
    width: 50%;
    display: inline-block;
    padding: 2.2rem;
}

.about-container p{

}

.text-wrapper{
    margin-top: 2.2rem;
    line-height: 3.1rem;
    font-size: 1.8rem;
}

#easter-egg{
    text-align: center;
    margin: 2.2rem;
    padding-bottom: 1rem;
}

#knowledge{
    width: 90%;
    border-radius: 2.2rem;
    background-color: var(--secondary);
    color: var(--text);
    margin: 2.2rem auto;
    text-align: center;
    padding: 2.2rem;
    line-height: 3rem;
}

#knowledge h1{
    font-style: italic;
}

#knowledge label input{
    display: inline-block;
    height: 2.2rem;
    width: 30rem;
    font-size: 2rem;
    padding: 2rem;
    margin: 1rem;
    border: 1px solid black;
}

.copy-button {
    background-color: var(--accent);
    font-size: 1.8rem;
    border-radius: 5px;
    padding: 0.5rem;
}

#press-me{
    background-color: var(--accent);
    box-shadow: 3px 3px 5px #050a0b;
    font-size: 1.8rem;
    border-radius: 5px;
    padding: 0.5rem;
    margin-top: 1.5rem;
}

.file-container{
    display: block;
    text-align: center;
    padding: 1.5rem;
    margin-top: 1rem;
    font-style: italic;
    font-weight: bold;
}

footer{
    display: block;
    background-color: #E3F0F2;
    text-align: center;
    width: 100%;
    height: 9.7rem;
    padding: 1rem 0;
    color: #0D1A1C;
}

.thanks{
    display: flex;
    align-content: flex-end;
    flex-direction: column;
    padding-top: 0.8rem;
}

.thanks h3{
    display: block;
    text-align: right;
    margin: 0.5rem 2rem;
    font-style: oblique;
}